extends layout

block content
  .container
    .row
      h1 Edit ##{don.id}
      .col-md-4
        form(method='post', action='/don')
          .form-group
            label(for='text') Text
            textarea.form-control(id='text', name='text', rows='6', autofocus)
              = don.text
          button.btn.btn-primary(type='submit', disabled, title='未実装') 丼
      .col-md-4
      .col-md-4