extends layout

block content
  .container
    .row
      .col-md-4
        form(method='post', action='/don')
          .form-group
            label(for='text') Text
            textarea.form-control(id='text', name='text', rows='6', autofocus)
          button.btn.btn-primary(type='submit') 丼
      .col-md-4
        h2 Public feed
        each don in dons
          .panel.panel-default
            .panel-heading
            .panel-body
              div(style='display: flex')
                div
                  img(src='/images/don.png', width='64', height='64')
                div(style='flex: 1; margin-left: 1em')
                  p= don.text
                  div(style='text-align: right')
                    a.btn.btn-default.btn-xs(href='/edit/'+don.id)
                      span.glyphicon.glyphicon-pencil
                    | &nbsp;
                    button.btn.btn-default.btn-xs(form='delete'+don.id, type='submit')
                      span.glyphicon.glyphicon-trash
                  form(id='delete'+don.id, method='post', action='/delete/'+don.id)
      .col-md-4
        .panel.panel-info
          .panel-heading クーポンコード
          .panel-body
            p ベータテストへのご協力ありがとうございます。
            p 本サービス開始時にこちらのクーポンをご利用ください。
            p
              code= flag
