extends layout

block content
  .container
    h1 Welcome to Kiasendon
    form(method='post')
      .form-group
        label(for='id') ID
        input#id.form-control(name='id')
      .form-group
        label(for='password') Password
        input#password.form-control(name='password', type='password')
      button.btn.btn-primary(type='submit') 登録
