
html,
body {
    height: 100%;
    background-color: #FFFFFF;
}
.form-signin {
    width: 50%;
}
.form-signup {
    width: 50%;
}

.site-header {
    line-height: 1;
    border-bottom: 1px solid #555555;
}

.article-meta {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5
}
