<!DOCTYPE html>
<html>
    <head>
        <title>Himitsu</title>
        <script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js"></script>
        <link href="/css/custom.css" rel="stylesheet">
    </head>
    <body>
      <header class="row justify-content-center pt-3 site-header">
        <a class="text-dark display-4" href="/">Himitsu</a>
      </header>
        {% block body %}
        {% endblock %}
    </body>
</html>
